@import 'mixins'
@import 'normalize'
@import 'helper'

/* variables */
$lightgrey = #999
$linkColor = #555
$grey = #777
$black = #222

html
button
input
select
textarea 
  color: $black

a
a:visited
  color: $linkColor
  text-decoration: none

a:hover
  color: lighten($linkColor,10%)
  
body
  background: white
  font-size: 1em
  line-height: 1.4

@media only screen and (min-width: 40em)
  body
    background: red


@media only screen and (min-width: 80em)
  body
    background: black